@use 'variables' as *;
@use 'mixins' as *;

.btn--hero {
    @include button;
    display: inline-block;
    background: transparent;
    margin: 1.5rem 0;
    padding: .8rem 1.6rem;
    letter-spacing: .03rem;
    font-size: 1rem;
    font-weight: 700;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .2);
    background: rgba(255, 255, 255, .05);
    backdrop-filter: blur(4px);

    &:hover {
        background-color: $textColorTertiary;
        border: 2px solid $textColorTertiary;
    }

    @media (max-width: 480px) {
        margin-top: 1.4rem;
        padding: .7rem .9rem;
        font-size: .8rem;
        letter-spacing: .04rem;
        background-color: $textColorTertiary;
        border-color: $textColorTertiary;

        &:hover {
        filter: brightness(1.1);
        transform: translateY(-1px);
        }
    }
}

.btn {
    @include button;
    background-color: $textColorTertiary;
    border: 2px solid $textColorTertiary;
    padding: .5rem 4rem;
    margin: 2.5rem auto 0;
    font-weight: 400;
    width: fit-content;
    display: block;
    letter-spacing: .01rem;

    &:hover {
        background-color: darken($textColorTertiary, 10%);
        border: 2px solid darken($textColorTertiary, 10%);
    }

    @media (max-width: 480px) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
        width: 100%;
        letter-spacing: .05rem;
    }

    @media (max-width: 386px) {
        padding: .5rem 2rem;
        letter-spacing: .03rem;
    }
}

.btn--premium {
    padding: .5rem 6rem;
    box-shadow: 0 10px 25px rgba($textColorTertiary, .25);
    transition: all .3s ease;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 14px 35px rgba($textColorTertiary, .35);
    }

    svg {
        margin-left: .2rem;
    }

    @media (max-width: 1024px) {
        padding: .5rem 4rem;
    }

    @media (max-width: 768px) {
        padding: .5rem 5.8rem;
        
        svg {
            width: 18px;
            height: 18px;
        }
    }

    @media (max-width: 480px) {

        width: 100%;
        padding: .6rem 3rem;

        svg {
            width: 18px;
            height: 18px;
        }
    }
}