@use 'variables' as *;
@use 'mixins' as *;

.btn-hero {
    @include button;
    background: transparent;
    margin-top: 1.2rem;
    padding: .5rem 1.2rem;
    letter-spacing: .03rem;
    font-weight: 700;

    &:hover {
        background-color: $textColorTertiary;
        border: 2px solid $textColorTertiary;
    }
}

.btn {
    @include button;
    background-color: $textColorTertiary;
    border: 2px solid $textColorTertiary;
    padding: .5rem 4rem;
    margin: 2.5rem auto 0;
    font-weight: 400;
    width: fit-content;
    display: block;
    letter-spacing: .01rem;

    &:hover {
        background-color: darken($textColorTertiary, 10%);
        border: 2px solid darken($textColorTertiary, 10%);
    }
}