@use 'variables' as *;
@use 'mixins' as *;

.btn--hero {
    @include button;
    background: transparent;
    margin-top: 1.2rem;
    padding: .6rem 1.2rem;
    letter-spacing: .03rem;
    font-weight: 700;

    &:hover {
        background-color: $textColorTertiary;
        border: 2px solid $textColorTertiary;
    }

    @media (max-width: 480px) {
        margin-top: .8rem;
        padding: .4rem .4rem;
        font-size: .8rem;
    }
}

.btn {
    @include button;
    background-color: $textColorTertiary;
    border: 2px solid $textColorTertiary;
    padding: .5rem 4rem;
    margin: 2.5rem auto 0;
    font-weight: 400;
    width: fit-content;
    display: block;
    letter-spacing: .01rem;

    &:hover {
        background-color: darken($textColorTertiary, 10%);
        border: 2px solid darken($textColorTertiary, 10%);
    }

    @media (max-width: 480px) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
        width: 100%;
        letter-spacing: .05rem;
    }
}