    @use 'variables' as *;
    @use 'mixins' as *;

    .header {
        position: relative;
        z-index: 10;
        background: transparent;
        font-family: "Bebas Neue", sans-serif;

        .container {
            display: flex;
            align-items: center;
            padding-bottom: 8px;
            border-bottom: 1px solid rgba($borderColor, .15)
        }

        &__brand {
            img {
                width: 160px;
            }
        }

        &__navbar {
            width: 50%;
            display: flex;
            justify-content: center
        }

        &__nav-list {
                display: flex;
                gap: 2rem;

                a {
                    color: $textColorSecondary;
                }
            }

        .social-links {
            width: 50%;

            &__list {
                display: flex;
                justify-content: end;
                gap: 1.2rem;
            }

            &__link {
                color: $borderColor;
            }
        }

        a:hover {
            color: $textColorTertiary;
            transition: .2s ease color;
        }
    }

    .topbar-mobile,
    .nav-mobile,
    .menu-mobile {
            display: none;
        }

    @media (max-width: 768px) {
        .header .container {
            display: none;
        }

        .header {
            height: 3rem;
        }

        .menu-mobile {
                background-color: $borderColor;
                display: block;
                position: fixed;
                top: 4rem;
                left: -100%;
                width: 100%;
                max-width: 240px;
                padding: 1rem;
                height: 100vh;
                overflow: hidden;
                transition: 0.3s;
                z-index: 3;

                &-list {
                    
                }

                &--open {
                    left: 0;
                }
            }

        .topbar-mobile {
                @include mobile-bar;
                top: 0;
                left: 0;
                right: 0;

                img {
                    width: 140px;
                    display: block;
                }
        }

        .nav-mobile {
            @include mobile-bar;
            left: 0;
            right: 0;
            bottom: 0;

            a {
                color: $textColorSecondary;
            }

            .hamburger {
                display: flex;
                flex-direction: column;
                cursor: pointer;
                gap: 5px;

                span {
                    background-color: $textColorSecondary;
                    width: 24px;
                    height: 3px;
                    transform: .3s;
                }
            }
        }
    }