@use 'mixins' as *;
@use 'variables' as *;

.highlight {
    @include highlight;
}

.highlight--premium {
    filter: drop-shadow(0 0 6px rgba($textColorTertiary, 0.4));
}

.section-image {
    display: block;
    border-radius: 1.5rem;
}

.about__content {
@include section-grid;
}

.product__content {
@include section-grid;
}

.investment-advisory__content {
@include section-grid;
}