@use 'mixins' as *;
@use 'variables' as *;

.highligth {
    @include highlight;
}

.section-image {
    display: block;
    border-radius: 1rem;
}

.section-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
}
