@use 'variables' as *;

.investment-advisory {
    
    .container {
        position: relative;
        margin-bottom: 6rem;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        top: 5%;
        z-index: -1;
        background:
            /* Gradiente da esquerda (cobre o texto) */
        linear-gradient(to right, $backgroundColorPrimary 48%, transparent 58%),
        /* Gradiente do topo */
        linear-gradient(to bottom, $backgroundColorPrimary 0, transparent 18%),
        /* Gradiente de baixo */
        linear-gradient(to top, $backgroundColorPrimary 0, transparent 18%),
        /* Gradiente da direita */
        linear-gradient(to left, $backgroundColorPrimary 0, transparent 11%),
        /* Imagem */
            url('../assets/images/danilo-advisory-wrap.png') right center / 68% auto no-repeat;
    
            @media (max-width: 768px) {
                top: 0;
                height: 480px;
                background:
                    linear-gradient(to right, $backgroundColorPrimary 0, transparent 17%),
                    linear-gradient(to bottom, $backgroundColorPrimary 0, transparent 15%),
                    linear-gradient(to top, $backgroundColorPrimary 2%, transparent 25%),
                    linear-gradient(to left, $backgroundColorPrimary 0, transparent 12%),
                        url('../assets/images/danilo-advisory-mobile.png') right center / 100% auto no-repeat;
            }

            @media (max-width: 480px) {
                height: 300px;
                background:
                    linear-gradient(to right, $backgroundColorPrimary 0, transparent 12%),
                    linear-gradient(to bottom, $backgroundColorPrimary 1%, transparent 6%),
                    linear-gradient(to top, $backgroundColorPrimary 2%, transparent 25%),
                    linear-gradient(to left, $backgroundColorPrimary 0, transparent 12%),
                        url('../assets/images/danilo-advisory-mobile.png') right center / 100% auto no-repeat;
            }

            @media (max-width: 376px) {
                background:
                linear-gradient(to right, $backgroundColorPrimary 0, transparent 9%),
                    linear-gradient(to bottom, $backgroundColorPrimary 6%, transparent 16%),
                    linear-gradient(to top, $backgroundColorPrimary 5%, transparent 25%),
                    linear-gradient(to left, $backgroundColorPrimary 0, transparent 12%),
                    url('../assets/images/danilo-advisory-mobile.png') right center / 100% auto no-repeat;
            }
        }

    
    }

    &__content {
        display: flex;
        flex-direction: column;
        text-align: left;
        position: relative;
        z-index: 1;
        max-width: 540px;

        h2 {
            text-align: left;
            margin: 0;
        }

        .btn {
            margin-left: 0;
            margin-top: 0;
        }
    }

    &__benefits {
        
        &-item {
            display: flex;
            align-items: center;
            margin: 1rem 0;
        }

        &-icon {
            background: rgba($textColorTertiary, .12);
            border-radius: 50%;
            padding: .45rem;
            margin-right: .45rem;
            color: $textColorTertiary;
        }

        &-description {
            margin-left: 2.5rem;
        }
    }

    @media (max-width: 1024px) {
        &__content {
            max-width: 430px;
        }
    }

    @media (max-width: 768px) {
        &__content {
            max-width: 100%;
            padding-top: 480px;
            gap: 1.5rem;

        }

        &__benefits {
            
            &-item {
            margin: 1.5rem 0 .1rem;
        }

            &-icon {
                width: 36px;
                height: 36px;
            }
        }

        &__benefits {
            
            &-item {
            margin: .8rem 0;
        }

            &-icon {
                width: 28px;
                height: 28px;
            }
        }

        .btn {
            margin: 2rem auto 0;
        }
    }

    @media (max-width: 480px) {

        .container {
            max-width: 95%;
        }

        &__content {
            padding-top: 300px;
            gap: 1rem;

        }

        &__benefits {
            
            &-item {
            margin: 1.5rem 0 .1rem;
        }

            &-icon {
                width: 36px;
                height: 36px;
            }
        }
    }

    @media (max-width: 376px) {
        .btn {
            margin-top: 1rem;
        }
    }
}