@use 'variables' as *;
@use 'mixins' as *;

.text--sm {
    @include text(.8rem, 400)
}

.text {
    @include text;

    @media (max-width: 480px) {
        font-size: .9rem;
    }
}

.text--bg {
    @include text(1.2rem, 400);
    letter-spacing: .1rem;
    text-transform: uppercase;
    
    @media (max-width: 1024px) {
        font-size: 1rem;
    }

    @media (max-width: 768px) {
        font-size: 1rem;
    }
}

.text--hero {
    @include title(2.8rem, 700, 1.2, .06rem);
    font-family: "Montserrat Alternates", sans-serif;
    color: $textColorSecondary;

    @media (max-width: 1024px) {
        @include title(2.7rem, 600, 1.1, .06rem);
        color: $textColorSecondary;
    }

    @media (max-width: 768px) {
        @include title(2.5rem, 600, 1.1, .04rem);
        color: $textColorSecondary;
    }

    @media (max-width: 480px) {
        @include title(1.8rem, 600, 1.1, .02rem);
        color: $textColorSecondary;
    }

    @media (max-width: 376px) {
        @include title(1.6rem, 600, 1.1, .06rem);
        color: $textColorSecondary;
    }
}

.title--sm {
    @include title(1.6rem);
    letter-spacing: .07rem;

    @media (max-width: 768px) {
        font-size: 1.3rem;
        letter-spacing: .05;
    }
    
}

.title {
    @include title;
    margin-bottom: 1rem;
    letter-spacing: .1rem;

    @media (max-width: 768px) {
        font-size: 1.8rem;
    }

    @media (max-width: 376px) {
        font-size: 1.6rem;
    }
}

.title--bg {
    @include title(3rem, 700);
}

.title--section {
    @include title(3.2rem, 700);
    margin: 4rem 0;
    color: $textColorTertiary;
    text-align: center;
    
    @media (max-width: 768px) {
        font-size: 3rem;
        margin: 3rem 0;
    }

    @media (max-width: 480px) {
        font-size: 1.7rem;
        margin: 2.2rem 0;
    }

    @media (max-width: 376px) {
        font-size: 1.6rem;
        margin: 2rem 0;
    }
}

.subtitle--section {
    font-size: 1.05rem;
    font-weight: 300;
    padding-top: 0.5rem;
    color: $subtitleColor;
    text-align: center;

    @media (max-width: 768px) {
        font-size: .85rem;
    }
    
    @media (max-width: 480px) {
        font-size: .8rem;
    }

    @media (max-width: 376px) {
        font-size: .7rem;
    }
}
