$backgroundColorPrimary: #f5f7fa;
$backgroundColorSecondary: #0d1f35;
$textColorPrimary: #2e2e2d;
$textColorSecondary: #f5f5f0;
$textColorTertiary: #f0b429;
$subtitleColor: #929292;
$borderColor: #a4a4a4;
