$backgroundColorPrimary: #f5f7fa;
$backgroundColorSecondary: #0d1f35;
$backgroundColorTertiary: #eeeeee;
$textColorPrimary: #2e2e2d;
$textColorSecondary: #f5f5f0;
$textColorTertiary: #f0b429;
$subtitleColor: #646464;
$borderColor: #a4a4a4;
