@use 'typography' as *;
@use 'variables' as *;

.about {
    margin-bottom: 6rem;

    .title--section {
        text-wrap: balance;
        margin-bottom: .2rem;
    }

    .subtitle--section {
        margin: 0 auto 4rem
    }

    &__info {
        text-align: left;
    }

    &__values {
        background-color: rgba(128, 128, 128, 0.201);
        border-radius: 6px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 3rem;

        &-item {
            text-align: center;
            position: relative;
            padding: .6rem;

            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 15%;
                height: 70%;
                width: 1px;
                background-color: rgba($borderColor, .2);
            }

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                border: none;
            }

            h4 {
                font-size: 1.2rem;
                font-weight: 400;
                margin: 0;
                padding-bottom: .6rem;
            }

            p {
                text-wrap: balance;
                font-size: 1.1rem;
            }
        }
    }

    &__image {
        img {
            object-fit: cover;
            width: 100%;
        }
    }

    .btn {
        display: flex;
        align-items: center;

        &:hover {
                svg {
                    transform: translateY(4px);
                }
            }

        svg {
            margin-left: .4rem;
            transition: transform .3s ease;

            
        }
    }

    @media (max-width: 768px) {
        .title--section {
            margin-bottom: .1rem;
        }

        .subtitle--section {
            margin: 0 auto 3rem
        }

        &__image {
            img {
                height: 380px;
                object-position: center 40%;
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
            }
            
        }
    }

    @media (max-width: 480px) {

        .about__content {
            gap: 1.5rem;
        }

        &__image {
            img {
                height: 300px;
                object-position: center 50%;
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
            }
            
        }
        
        .subtitle--section {
            margin: 0 auto 3rem
        }
    }

    @media (max-width: 376px) {
        .about__content {
            gap: 1.2rem;
        }

        .subtitle--section {
            margin: 0 auto 2.2rem
        }
    }
}