@use 'typography' as *;
@use 'variables' as *;

.about {
    margin-bottom: 4rem;

    .title--section {
        margin-bottom: .2rem;
    }

    .subtitle--section {
        margin: 0 auto 4rem
    }

    &__info {
        text-align: left;
    }

    &__statistics {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 3rem;

        &-item {
            text-align: center;
            position: relative;
            padding-left: .6rem;

            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 15%;
                height: 70%;
                width: 1px;
                background-color: rgba($borderColor, .3);
            }

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                border: none;
            }
        }
    }

    &__image {
        img {
            object-fit: cover;
            width: 100%;
        }
    }

    .btn {
        display: flex;
        align-items: center;
    }

    a > svg {
        margin-left: .4rem;
    }
}