// BASE
@use 'variables' as *;
@use 'mixins';

// UTILITIES
@use 'helpers';
@use 'typography';

// COMPONENTS
@use 'header';
@use 'hero';
@use 'about';
@use 'values';
@use 'investment-advisory';
@use 'product';

// GLOBAL / SHARED
@use 'buttons';
@use 'cards';

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
}

.container  {
    width: 1170px;
    margin: 0 auto;
}

body {
    background-color: $backgroundColorPrimary;
    padding-top: 2rem;
}

